h1 {
    color: orange;
}

.cl{
    color: red;
}
.cl1{
    color: blue;
    background-color: lightblue;
}

#text {
    color: maroon;
    background-color: lightcyan;
}
 
.font-style { 
    font-family: Verdana; 
    font-style: italic;
    color: red;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

/* .images{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */